.CustomOptionGrid {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(auto-fill, minmax(52px, 1fr));
}

.CustomOptionInput {
  font-family: var(--font-num);
  height: 38px;
  padding: 0 6px;
  text-align: center;
}
