.AppBar {
  box-shadow: none;
  background-color:  var(--color-background);
  color: var(--color-text-primary);
  flex-grow: 1;
  white-space: nowrap;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.HeaderLeftContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.HeaderActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.HeaderIcon {
  color: var(--color-primary);
  margin-right: 5px;
}
